# Case Study Project: Cyclistic Bike Share
<img src = "bike.jpg" style = "width:200px;height:180px" align = left>

## Scenario :

You are a junior data analyst working in the marketing analyst team at Cyclistic, a bike-share company in Chicago. The director of marketing believes the **companyâ€™s future success depends on maximizing the number of annual memberships**. Therefore, your team wants to understand how casual riders and annual members use Cyclistic bikes differently. From these insights, your team will design a new marketing strategy to convert casual riders into annual members. But first, Cyclistic executives must approve your recommendations, so they must be backed up with compelling data insights and professional data visualizations

## Buisness Task :

To analyze user behaviours on how annual members and casual riders use Cyclistic bikes differently to make recommendations on how to convert casual riders into annual members

## Information about the dataset : 

* It is external data stored in [Cyclistic Trip Data](https://divvy-tripdata.s3.amazonaws.com/index.html)
* First-party data

## Data Analysis Steps to be Followed:
* Ask
* Prepare
* Process
* Analyze
* Share
* Act

###  Ask:
Three questions will guide the future marketing program:

* How do annual members and casual riders use Cyclistic bikes differently?
* Why would casual riders buy Cyclistic annual memberships?
* How can Cyclistic use digital media to influence casual riders to become members?

#### Key Tasks:

The main objective is to build the best marketing strategies to turn casual bike riders into annual members by analyzing how the 'Casual' and 'Annual' customers use Cyclistic bike share differently

#### Deliverable:

Find the differences between casual and member riders

###  Perpare:
Analyzing and identifying trends by using the previous 12-months cyclistic historical trip data.

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime

### Data Collection 
I'm going to consolidate downloaded data into a single dataframe and then conduct simple analysis to help answer the key question: "In what ways do members and casual riders use Divvy bikes differently?"

In [2]:
# importing the datasets
df1 = pd.read_csv('202111-divvy-tripdata.csv')
df2 = pd.read_csv('202112-divvy-tripdata.csv')
df3 = pd.read_csv('202201-divvy-tripdata.csv')
df4 = pd.read_csv('202202-divvy-tripdata.csv')
df5 = pd.read_csv('202203-divvy-tripdata.csv')
df6 = pd.read_csv('202204-divvy-tripdata.csv')
df7 = pd.read_csv('202205-divvy-tripdata.csv')
df8 = pd.read_csv('202206-divvy-tripdata.csv')
df9 = pd.read_csv('202207-divvy-tripdata.csv')
df10 = pd.read_csv('202208-divvy-tripdata.csv')
df11 = pd.read_csv('202209-divvy-tripdata.csv')
df12 = pd.read_csv('202210-divvy-tripdata.csv')

In [3]:
# merging all data
Cyclistic_data = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])
Cyclistic_data.shape

(5755694, 13)

In [4]:
Cyclistic_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7C00A93E10556E47,electric_bike,2021-11-27 13:27:38,2021-11-27 13:46:38,NaN,NaN,NaN,NaN,41.93,-87.72,41.96,-87.73,casual
1,90854840DFD508BA,electric_bike,2021-11-27 13:38:25,2021-11-27 13:56:10,NaN,NaN,NaN,NaN,41.96,-87.70,41.92,-87.70,casual
2,0A7D10CDD144061C,electric_bike,2021-11-26 22:03:34,2021-11-26 22:05:56,NaN,NaN,NaN,NaN,41.96,-87.70,41.96,-87.70,casual
3,2F3BE33085BCFF02,electric_bike,2021-11-27 09:56:49,2021-11-27 10:01:50,NaN,NaN,NaN,NaN,41.94,-87.79,41.93,-87.79,casual
4,D67B4781A19928D4,electric_bike,2021-11-26 19:09:28,2021-11-26 19:30:41,NaN,NaN,NaN,NaN,41.90,-87.63,41.88,-87.62,casual

In [5]:
Cyclistic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5755694 entries, 0 to 558684
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 614.8+ MB

The dataset contains **5,755,694** records and **13** attributes with **9** object data types and **4** float data types. <br>
The next step is to clean the data from any null values, remove unnecessary attributes and duplicate values.<br>
This will ensure that the data will produce a high quality analysis.

## Process:

### Data Cleaning

In [6]:
# Creating a backup to revert to it if any issues occured
Cyclistic_data.to_csv('Cyclistic_data.csv')

In [7]:
# change rideable_type to a categorical dtype from an object dtype
Cyclistic_data['rideable_type']= Cyclistic_data.rideable_type.astype('category')

In [8]:
#change member_casual to a categorical dtype from an object dtype
Cyclistic_data['member_casual']= Cyclistic_data.member_casual.astype('category')

In [9]:
# Remove unnecessary attributes
Cyclistic_data.drop(['start_lat', 'start_lng', 'end_lat', 'end_lng'], axis=1, inplace=True)

In [23]:
# Find Null Values
Cyclistic_data.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    878177
start_station_id      878177
end_station_name      940010
end_station_id        940010
member_casual              0
ride_length                0
start_date                 0
day_name                   0
year                       0
month                      0
dtype: int64

In [24]:
# finding the total percentage of null values in the dataset
940010/5755694

0.1633182723056507

In [25]:
#16% percent of the dataset has null values, and it is below the maximum percentage of 25%
# so i dropped the columns
Cyclistic_data.dropna(inplace= True)

In [26]:
# Saving the cleaned version of the dataset
Cyclistic_data.to_csv('Cyclistic_data_cleaned.csv')

In [30]:
# check for any duplicated values
Cyclistic_data.duplicated().any()

False

In [31]:
Cyclistic_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,ride_length,start_date,day_name,year,month
66162,6BB9F79FB5BFFA0C,electric_bike,2021-11-01 00:00:14,2021-11-01 00:30:10,Green St & Madison St,TA1307000120,Kosciuszko Park,15643,casual,0 days 00:29:56,2021-11-01,Monday,2021,11
81735,9B28379EC39C521C,electric_bike,2021-11-01 00:00:14,2021-11-01 00:04:06,Halsted St & Roscoe St,TA1309000025,Clarendon Ave & Gordon Ter,13379,casual,0 days 00:03:52,2021-11-01,Monday,2021,11
184197,7705C605D750A621,electric_bike,2021-11-01 00:01:36,2021-11-01 00:09:44,Michigan Ave & Pearson St,13034,Canal St & Monroe St,13056,casual,0 days 00:08:08,2021-11-01,Monday,2021,11
23352,D1785C29432887EE,classic_bike,2021-11-01 00:02:35,2021-11-01 00:16:38,State St & 79th St,573,Halsted St & 78th St,20233,member,0 days 00:14:03,2021-11-01,Monday,2021,11
142427,17247CF119C77514,classic_bike,2021-11-01 00:02:36,2021-11-01 00:11:17,Green St & Randolph St,13053,Franklin St & Illinois St,RN-,member,0 days 00:08:41,2021-11-01,Monday,2021,11

In [28]:
# check for null values in the dataset
Cyclistic_data.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
member_casual         0
ride_length           0
start_date            0
day_name              0
year                  0
month                 0
dtype: int64

## Analyze:

In [32]:
# changing the 'started_at' and 'ended_at' dtype to datetime
Cyclistic_data['started_at']= pd.to_datetime(Cyclistic_data.started_at)
Cyclistic_data['ended_at']= pd.to_datetime(Cyclistic_data.ended_at)

In [33]:
# adding a new column 'ride_length' (ended_at - started_at) to calculate the time travelled

Cyclistic_data['ride_length'] = Cyclistic_data['ended_at'] - Cyclistic_data['started_at']
Cyclistic_data['ride_length']

66162    0 days 00:29:56
81735    0 days 00:03:52
184197   0 days 00:08:08
23352    0 days 00:14:03
142427   0 days 00:08:41
               ...
226726   0 days 00:06:02
549296   0 days 00:03:15
108209   0 days 00:03:59
231592   0 days 00:03:57
312373   0 days 00:09:14
Name: ride_length, Length: 4410438, dtype: timedelta64[ns]

In [34]:
Cyclistic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410438 entries, 66162 to 312373
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       category
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   member_casual       category
 9   ride_length         timedelta64[ns]
 10  start_date          datetime64[ns]
 11  day_name            category
 12  year                int64
 13  month               int64
dtypes: category(3), datetime64[ns](3), int64(2), object(5), timedelta64[ns](1)
memory usage: 416.4+ MB

In [35]:
# splitting and extracting the date from the 'started_at' column
Cyclistic_data['start_date'] = Cyclistic_data.started_at.dt.date
Cyclistic_data.start_date.head()

66162     2021-11-01
81735     2021-11-01
184197    2021-11-01
23352     2021-11-01
142427    2021-11-01
Name: start_date, dtype: object

In [36]:
# converting 'start_date' into a datetime dtype
Cyclistic_data['start_date']= pd.to_datetime(Cyclistic_data.start_date)
Cyclistic_data.dtypes

ride_id                        object
rideable_type                category
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id               object
end_station_name               object
end_station_id                 object
member_casual                category
ride_length           timedelta64[ns]
start_date             datetime64[ns]
day_name                     category
year                            int64
month                           int64
dtype: object

In [37]:
# adding a column 'day_name' to find the weekday of the date 
Cyclistic_data['day_name'] = Cyclistic_data['start_date'].dt.day_name()
Cyclistic_data['day_name'].unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'], dtype=object)

In [38]:
# changing day_name to  categorical dtype
Cyclistic_data['day_name']= Cyclistic_data.day_name.astype('category')
Cyclistic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410438 entries, 66162 to 312373
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       category
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   member_casual       category
 9   ride_length         timedelta64[ns]
 10  start_date          datetime64[ns]
 11  day_name            category
 12  year                int64
 13  month               int64
dtypes: category(3), datetime64[ns](3), int64(2), object(5), timedelta64[ns](1)
memory usage: 416.4+ MB

In [39]:
# adding a column 'year'
Cyclistic_data['year'] = pd.DatetimeIndex(Cyclistic_data['start_date']).year
# adding a column 'month'
Cyclistic_data['month'] = pd.DatetimeIndex(Cyclistic_data['start_date']).month

In [40]:
Cyclistic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410438 entries, 66162 to 312373
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       category
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   member_casual       category
 9   ride_length         timedelta64[ns]
 10  start_date          datetime64[ns]
 11  day_name            category
 12  year                int64
 13  month               int64
dtypes: category(3), datetime64[ns](3), int64(2), object(5), timedelta64[ns](1)
memory usage: 416.4+ MB

In [41]:
Cyclistic_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,ride_length,start_date,day_name,year,month
66162,6BB9F79FB5BFFA0C,electric_bike,2021-11-01 00:00:14,2021-11-01 00:30:10,Green St & Madison St,TA1307000120,Kosciuszko Park,15643,casual,0 days 00:29:56,2021-11-01,Monday,2021,11
81735,9B28379EC39C521C,electric_bike,2021-11-01 00:00:14,2021-11-01 00:04:06,Halsted St & Roscoe St,TA1309000025,Clarendon Ave & Gordon Ter,13379,casual,0 days 00:03:52,2021-11-01,Monday,2021,11
184197,7705C605D750A621,electric_bike,2021-11-01 00:01:36,2021-11-01 00:09:44,Michigan Ave & Pearson St,13034,Canal St & Monroe St,13056,casual,0 days 00:08:08,2021-11-01,Monday,2021,11
23352,D1785C29432887EE,classic_bike,2021-11-01 00:02:35,2021-11-01 00:16:38,State St & 79th St,573,Halsted St & 78th St,20233,member,0 days 00:14:03,2021-11-01,Monday,2021,11
142427,17247CF119C77514,classic_bike,2021-11-01 00:02:36,2021-11-01 00:11:17,Green St & Randolph St,13053,Franklin St & Illinois St,RN-,member,0 days 00:08:41,2021-11-01,Monday,2021,11

In [42]:
# sort the dataframe by ascending order using start date
Cyclistic_data.sort_values(by=['started_at'], inplace= True, ascending= True)

In [55]:
# calculate the mean of ride length
Cyclistic_data.ride_length.describe(datetime_is_numeric=True)

count                      4409893
mean     0 days 00:17:14.552872371
std      0 days 00:57:15.608389974
min                0 days 00:00:00
25%                0 days 00:06:05
50%                0 days 00:10:40
75%                0 days 00:19:07
max               23 days 20:34:04
Name: ride_length, dtype: object

In [44]:
# filtering the negative values
negative_duration = Cyclistic_data['ride_length'] < '00:00:00'
# showing the number of negative time duration
Cyclistic_data[negative_duration].count()

ride_id               74
rideable_type         74
started_at            74
ended_at              74
start_station_name    74
start_station_id      74
end_station_name      74
end_station_id        74
member_casual         74
ride_length           74
start_date            74
day_name              74
year                  74
month                 74
dtype: int64

In [45]:
# removing the negative duration
Cyclistic_data.drop(Cyclistic_data[negative_duration].index, inplace=True)

In [46]:
# filtering the ride length for members
member_filter = Cyclistic_data['member_casual'] == 'member'
Cyclistic_data[member_filter].ride_length.describe()

count                      2641921
mean     0 days 00:12:27.231374064
std      0 days 00:18:42.441900831
min                0 days 00:00:00
25%                0 days 00:05:16
50%                0 days 00:09:00
75%                0 days 00:15:23
max                1 days 00:52:55
Name: ride_length, dtype: object

In [47]:
# filtering the ride length for casual riders
Cyclistic_data[~member_filter].ride_length.describe()

count                      1767972
mean     0 days 00:24:23.903959451
std      0 days 01:27:00.263129742
min                0 days 00:00:00
25%                0 days 00:08:00
50%                0 days 00:14:01
75%                0 days 00:26:04
max               23 days 20:34:04
Name: ride_length, dtype: object

In [48]:
# calculate the mode of week-day of all users 
mode_week_day = Cyclistic_data['day_name'].mode()
mode_week_day

0    Saturday
Name: day_name, dtype: category
Categories (7, object): ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

In [49]:
# calculte the mode of week-day for members
mode_week_day_member = Cyclistic_data[Cyclistic_data['member_casual'] == 'member']
mode_week_day_member = mode_week_day_member['day_name'].mode()
mode_week_day_member

0    Wednesday
Name: day_name, dtype: category
Categories (7, object): ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

In [50]:
# calculate the mode of the week-day of casual riders
mode_week_day_casual = Cyclistic_data[Cyclistic_data['member_casual'] == 'casual']
mode_week_day_casual = mode_week_day_casual['day_name'].mode()
mode_week_day_casual

0    Saturday
Name: day_name, dtype: category
Categories (7, object): ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

In [51]:
# calculate the no. of rides by users in a week by adding Count of ride_id to values
count_users = Cyclistic_data.groupby('day_name')['ride_id'].count()
count_users = count_users.sort_index()
count_users

day_name
Friday       614717
Monday       600135
Saturday     720834
Sunday       609023
Thursday     639173
Tuesday      608497
Wednesday    617514
Name: ride_id, dtype: int64

In [63]:
# Export findings to excel

cm = pd.DataFrame(count_users)

cm.to_excel(r'C:\Users\Adel Tarek\Python Maven\users_rides.xlsx')

In [58]:
# calculate the no. of rides by members in a week
count_members = Cyclistic_data[Cyclistic_data['member_casual'] == 'member'].groupby('day_name')['ride_id'].count()
count_members

day_name
Friday       365041
Monday       385882
Saturday     345725
Sunday       302975
Thursday     413418
Tuesday      413587
Wednesday    415293
Name: ride_id, dtype: int64

In [60]:
# Export findings to excel

cm = pd.DataFrame(count_members)

cm.to_excel(r'C:\Users\Adel Tarek\Python Maven\member_rides.xlsx')

In [53]:
# calculate the no. of rides by casual riders in a week
count_casual = Cyclistic_data[Cyclistic_data['member_casual'] == 'casual'].groupby('day_name')['ride_id'].count()
count_casual

day_name
Friday       249676
Monday       214253
Saturday     375109
Sunday       306048
Thursday     225755
Tuesday      194910
Wednesday    202221
Name: ride_id, dtype: int64

In [62]:
# Export findings to excel

cc = pd.DataFrame(count_casual)

cc.to_excel(r'C:\Users\Adel Tarek\Python Maven\casual_rides.xlsx')

In [64]:
# calculate the average ride length for all users in a week
user_avg_rides = Cyclistic_data.groupby('day_name')['ride_length'].mean(numeric_only=False)
user_avg_rides

day_name
Friday      0 days 00:16:27.758983402
Monday      0 days 00:16:44.931760353
Saturday    0 days 00:20:45.383192246
Sunday      0 days 00:20:47.319027360
Thursday    0 days 00:15:30.134281329
Tuesday     0 days 00:15:00.449169018
Wednesday   0 days 00:14:54.202638320
Name: ride_length, dtype: timedelta64[ns]

In [65]:
# Export findings to excel

uar = pd.DataFrame(user_avg_rides)

uar.to_excel(r'C:\Users\Adel Tarek\Python Maven\user_avg_rides.xlsx')

In [66]:
# calculate the average ride length for members in a week
user_avg_members = Cyclistic_data[Cyclistic_data['member_casual'] == 'member'].groupby('day_name')['ride_length'].mean(numeric_only=False)
user_avg_members

day_name
Friday      0 days 00:12:12.658150728
Monday      0 days 00:12:00.809586868
Saturday    0 days 00:14:01.774815243
Sunday      0 days 00:13:52.250627939
Thursday    0 days 00:12:00.933986909
Tuesday     0 days 00:11:46.910231704
Wednesday   0 days 00:11:50.194607180
Name: ride_length, dtype: timedelta64[ns]

In [76]:
# Export findings to excel

uam = pd.DataFrame(user_avg_members)

uam.to_excel(r'C:\Users\Adel Tarek\Python Maven\user_avg_members.xlsx')

In [74]:
# calculate the average ride length for casual_riders in a week
user_avg_casual = Cyclistic_data[Cyclistic_data['member_casual'] == 'casual'].groupby('day_name')['ride_length'].mean(numeric_only=False)
user_avg_casual

day_name
Friday      0 days 00:22:40.731407904
Monday      0 days 00:25:16.652168231
Saturday    0 days 00:26:57.375082975
Sunday      0 days 00:27:38.219762913
Thursday    0 days 00:21:53.236171956
Tuesday     0 days 00:21:51.126858550
Wednesday   0 days 00:21:12.092408800
Name: ride_length, dtype: timedelta64[ns]

In [77]:
# Export findings to excel

uac = pd.DataFrame(user_avg_casual)

uac.to_excel(r'C:\Users\Adel Tarek\Python Maven\user_avg_casual.xlsx')

In [69]:
# calculate the no. of rides by station by adding Count of ride_id to values
station_rides = Cyclistic_data.groupby('end_station_name')['ride_id'].count()
station_rides = station_rides.sort_index()
station_rides

end_station_name
10101 S Stony Island Ave               4
111th St - Morgan Park Metra           5
2112 W Peterson Ave                  934
532 E 43rd St                         14
63rd & Western Ave - north corner     11
                                    ...
Yale Ave & 119th St                    1
Yates Blvd & 75th St                 258
Yates Blvd & 93rd St                  64
Yates Blvd & Exchange Ave              7
Zapata Academy                         1
Name: ride_id, Length: 1573, dtype: int64

In [70]:
# Export findings to excel

sr = pd.DataFrame(station_rides)

sr.to_excel(r'C:\Users\Adel Tarek\Python Maven\station_rides.xlsx')

In [71]:
# calculate the no. of rides by station by adding Count of ride_id to values
station_start = Cyclistic_data.groupby('start_station_name')['ride_id'].count()
station_start = station_start.sort_index()
station_start

start_station_name
10101 S Stony Island Ave               1
111th St - Morgan Park Metra           7
2112 W Peterson Ave                  804
532 E 43rd St                         17
63rd & Western Ave - north corner      5
                                    ...
Yale Ave & 119th St                    1
Yates Blvd & 75th St                 233
Yates Blvd & 93rd St                  78
Yates Blvd & Exchange Ave              5
Zapata Academy                         2
Name: ride_id, Length: 1521, dtype: int64

In [72]:
# Export findings to excel

ss = pd.DataFrame(station_start)

ss.to_excel(r'C:\Users\Adel Tarek\Python Maven\station_start.xlsx')

In [78]:
# check the number of users in each type over the past 12 months
no__of_user_types = Cyclistic_data['member_casual'].value_counts()
no__of_user_types

member    2641921
casual    1767972
Name: member_casual, dtype: int64

In [79]:
# To check the amount of users for a particular ride_type
ride_type = Cyclistic_data.groupby('member_casual')['rideable_type'].value_counts()
ride_type

member_casual
casual         classic_bike      894514
               electric_bike     693852
               docked_bike       179606
member         classic_bike     1738774
               electric_bike     903147
               docked_bike            0
Name: rideable_type, dtype: int64

In [80]:
#to seggregate the number of users into members and casual over year
users_over_year = Cyclistic_data.groupby('year')['member_casual'].value_counts()
users_over_year

year
2021  member     317171
      casual     115019
2022  member    2324750
      casual    1652953
Name: member_casual, dtype: int64

In [81]:
# to get the total amount of users in each category per month
users_over_month = Cyclistic_data.groupby('month')['member_casual'].value_counts()
users_over_month

month
1      member     67505
       casual     12603
2      member     74020
       casual     15141
3      member    148801
       casual     67141
4      member    180637
       casual     91883
5      member    282258
       casual    220225
6      member    328247
       casual    292036
7      member    330976
       casual    311649
8      member    335200
       casual    270067
9      member    314195
       casual    220899
10     member    262911
       casual    151309
11     member    185901
       casual     69952
12     member    131270
       casual     45067
Name: member_casual, dtype: int64

In [83]:
# Export findings to excel

uom = pd.DataFrame(users_over_month)

uom.to_excel(r'C:\Users\Adel Tarek\Python Maven\uom.xlsx')